@using Exam.InputModels
@model AddOrderInputModel

@{
    ViewData["Title"] = "Add order";
}
<div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6">
       <form asp-controller="Client" asp-action="Add" method="post" enctype="multipart/form-data">
        <div class="input-group m-3">
            <input class="form-control" placeholder="Name" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="input-group m-3">
            <input class="form-control" placeholder="Description" asp-for="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="input-group m-3">
            <input class="form-control" placeholder="Address" asp-for="Address">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="input-group m-3">
            <input class="form-control" placeholder="Link to image" asp-for="Image">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <input class="btn btn-primary separated" type="submit" value="Add order">
    </form>
   </div>
    
</div>
