@using Exam.InputModels
@model EditOrderByAdminInputModel

@{
    ViewData["Title"] = "Edit order";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-controller="Administration" asp-action="EditOrder" method="post" enctype="multipart/form-data">
            <div class="input-group m-3">
                <label class="m-2" asp-for="@Model.SupervisorTechnicianName"></label>
                <input class="form-control" value="@Model.SupervisorTechnicianName" asp-for="SupervisorTechnicianName">
                <span asp-validation-for="SupervisorTechnicianName" class="text-danger"></span>
                
            </div>
            <div class="input-group m-3">
                <label class="m-2" asp-for="@Model.CheckedByTechnicianOn"></label>
                <input class="form-control" value="@Model.CheckedByTechnicianOn" asp-for="CheckedByTechnicianOn">
                <span asp-validation-for="CheckedByTechnicianOn" class="text-danger"></span>
            </div>
            <br />
            <input class="btn btn-primary separated m-1" type="submit" value="Edit order">
        </form>
    </div>

</div>