@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Top air conditioner service</h1>
    @if (this.User.IsInRole("Administrator") || this.User.IsInRole("Customer"))
    {
        <div>Enjoy our services!</div>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        <span>or</span>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        <span>to access our services</span>
    }
</div>
